/* Resetting default margin and padding */
/* Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  /* Voeg eventueel aanvullende stijlen toe, zoals lettergrootte, gewicht, etc. */
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
}

.container {
  margin-top: 20px;
}

/* Standaardstijl voor afbeeldingen binnen de container */
.container img {
  max-width: 100%; /* Afbeeldingen schalen binnen de beschikbare ruimte */
  height: auto; /* Behoud de aspectverhouding van de afbeeldingen */
  height: 200px; /* Stel de hoogte van alle afbeeldingen in op 200px */
  transition: transform 0.3s ease; /* Voeg een soepele overgang toe voor het vergroten van de afbeeldingen */
}

.container img:hover:not(.shelf img) {
  transform: scale(1.1); /* Maak de afbeelding iets groter bij zweven */
  transform: translate(
    0,
    -10px
  ); /* Maak de afbeelding iets groter bij zweven */
}

.shelf img {
  margin-top: -100px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  height: 20px !important;
}

.bottom {
  margin-top: 20px;
}

#wilderen-goud:hover {
  filter: drop-shadow(0px 0px 3px gold);
}

#kriek:hover {
  filter: drop-shadow(0px 0px 3px red);
}

#betty-ford:hover {
  filter: drop-shadow(0px 0px 3px #20ff32);
}
#curvee-clarisse:hover {
  filter: drop-shadow(0px 0px 3px #460610);
}
#whiskey-infused:hover {
  filter: drop-shadow(0px 0px 3px #852fb1);
}

#rum-infused:hover {
  filter: drop-shadow(0px 0px 3px #fba953);
}
#tripel-kanunnik:hover {
  filter: drop-shadow(0px 0px 3px #f97700);
}
#clarrise-rouge:hover {
  filter: drop-shadow(0px 0px 3px #750001);
}

h3 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px !important;
}

#whiskey,
#rum {
  font-size: 1em;
}

.container a {
  display: flex;
  justify-content: center;
}

.titleBieren {
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: center;
  color: #de1420;
  border-bottom: 2px solid #fbb117;
  border-top: 2px solid #fbb117;
  width: 50%;
  padding: 10px;
  font-size: 36pt;
  font-family: "Georgia", sans-serif;
  text-align: center;
  margin-bottom: 20px !important;
}
