/* Resetting default margin and padding */

@font-face {
  font-family: "Great Vibes";
  src: url("path/to/GreatVibes-Regular.ttf") format("truetype"); /* Vervang 'path/to' door het juiste pad naar het gedownloade lettertype */
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Raleway, sans-serif;
}

p {
  font-family: "Helvetica Neue", Raleway, sans-serif
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.text-fade-in {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 21pt; /* Aanpassen aan de gewenste grootte */
  line-height: 1.5; /* Regelhoogte */
}

.signature {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 24px;
  display: block;
  margin-top: 10px;
}

.homeimg {
  display: flex;
  width: 100vw; /* Volledige breedte van de container */
  z-index: 0; /* Stel een z-index in */
  margin: 0; /* Verwijder standaard marges */
  padding: 0; /* Verwijder standaard padding */
  max-height: 420px; /* Maximale hoogte van de afbeelding */
  object-fit: cover; /* Behoud verhoudingen en bedek container */
}
.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparante zwarte overlay */
}

.overlay img {
  max-width: 25%; /* Pas de grootte van het logo naar wens aan */
  margin-left: 40px;
  margin-top: 5%;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: #fff; /* Witte tekstkleur */
  padding: 20px;
  max-width: 80%; /* Maximale breedte van de tekstcontainer */
}

.text-container h2 {
  font-size: 23pt; /* Grootte van de koppen */
  margin-bottom: 10px; /* Ruimte onder de koppen */
}

.text-container p {
  font-size: 12px; /* Grootte van de alinea */
  line-height: 1.5; /* Regelhoogte van de alinea */
}

.overlay.show {
  opacity: 1;
}

.text-fade-in {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.carousel h2{
    color:#de1420;
    border-bottom: 2px solid #FBB117;
    border-top: 2px solid #FBB117;
    width: 30%;
    padding: 10px;
    margin-left: 35%;
    font-size: 36pt;
    font-family: "Georgia", sans-serif;
}

.carousel h2 {
  margin-bottom: 30px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beer {
  margin: 0 70px;
  position: relative;
  transition: transform 0.3s ease;
  transform-style: preserve-3d; /* Belangrijk: zet de transform-stijl op preserve-3d */
  perspective: 1000px; /* Stel de perspectiefwaarde in voor het 3D-effect */
}
.beer img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.beer h3 {
  margin-top: 5px;
  font-size: 16px;
}

.beer:hover {
  transform: translateY(-10px);
  z-index: 1;
}

.webshop-link {
    background-color:#c31212;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Roboto-Slab";
}

.webshop-link2 {
    background-color:#c31212;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
    font-family: "Roboto-Slab";
}
.webshop-link3 {
    background-color:#c31212;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;
    font-family: "Roboto-Slab";
}
.butt {
  margin-top: 30px;
}
.text-container .webshop-link a {
  margin-top: 60%;
}

.webshop-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.webshop-link:hover {
  transform: translateZ(20px); /* Beweeg de link een beetje naar voren */
  background-color: #fbb117;
}

.webshop-link2:hover {
  transform: translateZ(20px); /* Beweeg de link een beetje naar voren */
  background-color: #fbb117;
}

.webshop-link3:hover {
  transform: translateZ(20px); /* Beweeg de link een beetje naar voren */
  background-color: #fbb117;
}

/*EXPLORE*/

.new-image-section {
    display: flex;
    justify-content: space-between;
    background-color: #de1420;
    padding: 40px;
    margin-bottom: 50px;
}

.new-image-container {
  flex: 1;
  text-align: center;
  padding: 10px; /* Voeg wat opvulling toe aan de container */
}

.image-wrapper:hover img {
    transform: scale(1.1); /* Vergroot de afbeelding met 10% */
    transition: transform 0.5s; /* Voeg een overgang toe voor een vloeiend effect */
    border-radius: 10px;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    height: 300px; /* Vaste hoogte voor alle afbeeldingen */
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Halfdoorzichtige zwarte overlay */
    border-radius: 10px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Behoud de aspect ratio en vul de container */
    border-radius: 10px;
}

.image-title {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  font-family: "Georgia", serif;
  font-size: 24px; /* Grotere lettergrootte */
  text-transform: uppercase; /* Alle letters in hoofdletters voor extra nadruk */
}

/* TABEL OPENING */


.text-container{
  margin-top: 50px;
}