body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  /* Voeg eventueel aanvullende stijlen toe, zoals lettergrootte, gewicht, etc. */
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
}

.container {
  margin-top: 20px;
  text-decoration: none;
}

.container img {
  width: 80%; /* Afbeeldingen 100% breedte van de container maken */
  height: auto; /* Behoud de aspectverhouding */
}

.overlay {
  position: absolute;
  top: 100px;
  left: 120%; /* Startpositie buiten het zicht */
  width: 110%; /* Breedte van de kader aanpassen */
  height: 60%;
  background-color: #282b2e; /* Witte achtergrond met lichte transparantie */
  transition: left 0.5s ease; /* Voeg een vloeiende overgang toe */
  padding: 0px; /* Ruimte rond de tekst */
  box-sizing: border-box; /* Padding wordt opgenomen in de totale breedte en hoogte */
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  text-decoration: none;
  color: white;
}

.position-relative {
  position: relative;
  text-decoration: none;
}

.container:hover .overlay {
  /* left: 120%; Verplaats de overlay naar de zichtbare positie bij hover */
  text-decoration: none;
}

.beer-name {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  /* color: #333; */
}

.buy-button {
  background-color: #ad9a64;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.buy-button2 {
    margin-top: 30px;
  border: #6d9170 solid 2px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* .buy-button2:hover {
    transition: all 0.5s;
    color: white;
  background-color: #6d9170;
  text-decoration: none;
} */

.button-buy:hover {
  text-decoration: none !important;
  background-color: #6d9170;
}

a:hover {
  text-decoration: none; /* Verwijder onderstreping bij hover */
}

.info {
  font-size: 16px;
  text-align: left;
  line-height: 1.4; /* Regelhoogte voor betere leesbaarheid */
}

.carousel-inner .row {
  display: flex;
  justify-content: space-between; /* Om ervoor te zorgen dat de ruimte tussen de afbeeldingen gelijk verdeeld wordt */
}

.carousel-inner .col-md-3 {
  flex: 0 0 24%; /* Gebruik een iets lagere waarde om ervoor te zorgen dat er ruimte is tussen de afbeeldingen */
  margin-bottom: 10px; /* Voeg wat ruimte toe onder elke afbeelding */
}

.carousel-inner .col-md-3 img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Behoud de aspectverhouding van de afbeeldingen en zorg ervoor dat ze de hele ruimte van de container bedekken */
}

.carousel-inner .carousel-item.active .col-md-3 img {
  opacity: 1;
}

.carousel-inner .col-md-3 {
  flex: 0 0 auto;
}

.carousel-inner .col-md-3 img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.carousel-inner .carousel-item.active .col-md-3:first-child img {
  opacity: 1;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-item {
  transition: opacity 0.5s ease;
  opacity: 0.5; /* Standaard vervaagde toestand */
}

.carousel-item.active {
  opacity: 1; /* Bier in de spotlight */
}

.carousel-inner .col-md-3 {
  flex: 0 0 25%;
  transition: opacity 0.5s ease; /* Voeg een overgang toe voor vervaagde toestand */
}

.carousel-inner .col-md-3 img {
  width: 100%;
  height: auto;
  opacity: 0.5; /* Standaard vervaagde toestand voor afbeeldingen */
}

.carousel-inner .col-md-3 img:hover {
  opacity: 1; /* Afbeelding wordt helder bij hover */
}

.carousel-control-prev {
  margin-left: -15%; /* Verplaats de linker pijl naar links */
}

.carousel-control-next {
  margin-right: -15%; /* Verplaats de rechter pijl naar rechts */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%)
    contrast(100%); /* Verander de kleur van de pijltjes */
}
