.container {
  all: unset;
}

table *,
.container {
  box-sizing: unset;
  margin: 0;
}

table {
  /* width: 80%; Verklein de breedte van de tabel naar 80% van de container */
  width: 100%; /* Maak de tabel 100% breed (zorg dat de bordeaux lijn over de volledige breedte spant) */
  border-right: white solid 5px;
  color: black;
}

td,
th {
  padding: 6px; /* Verminder de padding om de tekst dichter bij de rand van de cel te plaatsen */
}

.text-overlay {
  width: 30%; /* Verklein de breedte van de tekst-overlay naar 30% */
  left: 20px; /* Plaats de tekst-overlay links met een marge van 20px */
}

.text-overlay h2 {
  font-size: 32pt; /* Verklein de grootte van de kop in de tekst-overlay */
}

.text-overlay p {
  font-size: 12pt; /* Verklein de grootte van de alinea in de tekst-overlay */
}

.container {
  display: flex; /* Maak de container een flex container */
  justify-content: center; /* Verdeel de ruimte tussen de tabellen */
  margin-bottom: 80px;
  margin-top: 80px;
  height: 300px;
}

td {
  padding: 8px;
  text-align: center;
  font-family: "Roboto Slab";
}

th {
  border-bottom: 5px solid #af0000; /* Voeg een border toe aan de cellen */
  padding: 8px;
  text-align: center;
  font-family: "Georgia", serif;
  /* width: 100%; */
}

td:last-child,
th:last-child {
  border-right: none; /* Verwijder de border aan de rechterkant van de laatste cel */
  border-top: none;
}

#extraInfo {
  /* position: absolute; */
  margin-top: 200px;
  margin-left: 250px;
  background-color: #8b0000;
  padding: 20px;
  font-family: "Roboto Slab";
  color: white;
  width: fit-content;
  margin-bottom: 200px;
  border-radius: 10px;
}

tr:nth-child(even) {
  background-color: rgba(139, 0, 0, 0.829);
}

tr:nth-child(odd):not(:first-child) {
  background-color: rgba(253, 195, 195, 0.678)
}

table#table3 {
  width: 100%;
}
td {
  height: 40px;
  width: 20%;
  font-weight: bolder;
}



#openingsuren {
  margin-top: 20px;
  /* margin-bottom: 500px; */

  /* background-color: grey; */
}

.openingsurenTitle {
  margin-top: 30px;
  height: fit-content;
  color: #ad9a64;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: #ad9a64 solid 2px;
  /* border-bottom: #ad9a64 solid 2px; */
  text-align: center;
  /* background-color: red; */
}

/* table{
    border-top: #8b0000 solid 5px;
  width: 100%;
  } */
#table1 td:first-child,
#table3 td:last-child {
  width: 10%;
  background-color: white;
}
#table3 td {
  font-size: smaller;
}

#table2 {
  /* text-align: right; */
  width: 80%;
}

#klok {
  background-color: white;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
