

.brouwerij-section {
  position: relative;
  text-align: left;
}


.image-container {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  max-height: 640px; /* Maximale hoogte van de afbeelding container */
  overflow: hidden; /* Verberg eventuele overloop van de afbeelding */
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Donkere tint met 50% opaciteit */
}

.image-container img {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  height: auto; /* Behoudt de aspectverhouding van de afbeelding */
}

.text-overlay {
  padding: 10px;
  text-align: left;
  color: white;
  position: absolute;
  top: 520px;
  left: 20px;
  z-index: 2;
}

.text-overlay h2 {
  font-family: "Georgia", serif;
  font-size: 52pt;
}

.text-overlay p {
  font-family: "Roboto Slab";
  font-size: 18pt;
 margin-left: 3px;
 text-align: left;
}



.picknick {
  display: flex; /* Flex container om tekst en afbeelding naast elkaar te plaatsen */
  margin-top: 80px;
  margin-left: 30px;
  box-shadow: 0px 4px 12px rgba(56, 47, 47, 0.175);
  margin-right: 30px;
  border-radius: 10px;
}

.picknick img {
  flex: 5; /* Laat de afbeelding groeien om de beschikbare ruimte in te vullen */
  max-height: 200px;    
  border-radius: 0 10px 10px 0;
}
.picknick p {
  flex: 2; /* Laat de tekst groeien om de beschikbare ruimte in te vullen */
  text-align: left; /* Tekst links uitlijnen */
  font-family: "Roboto Slab"; /* Lettertype */
  font-size: 12pt; /* Lettergrootte */
  width: 70%;
  margin-left: 40px;
  margin-top: 10px;
}

.picknick h2 {
  font-family: "Georgia", serif;
  font-size: 18pt;
  font-weight: bold;
  width: 90%;
  margin-top: 30px;
  margin-left: 40px;
}


/* CAROUSEL */

.carousel-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.carousel-container h2 {
  font-family: "Georgia", serif;
  font-size: 28pt;
  margin-bottom: 20px;
}

.carousel-container h2 {
  font-family: "Georgia", serif;
  font-size: 28pt;
  margin-bottom: 20px;
}

.carousel {
  width: 80%; /* Verklein de breedte van de carousel */
  margin: 0 auto; /* Centreer de carousel */
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Stel de breedte van de pijltjes in */
}

.carousel {
  width: 95%;
  margin: 0 auto;
  max-height: 800px;
}

.carousel-item img {
  width: 100%;
  height: 650px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-control-prev {
  margin-left: 5%; /* Verplaats de linker pijl naar links */
}

.carousel-control-next {
  margin-right: 5%; /* Verplaats de rechter pijl naar rechts */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  z-index: 3;
}

/* Media queries voor responsief ontwerp */

/* 1380px ipv 768 voor betere landscape tablet/kleinere pc support */
@media only screen and (max-width: 1380px) {
  /* Pas de stijlen aan voor schermen kleiner dan 768px breed */
  .text-overlay {
    top: 60%; /* Pas de positie van de overlay aan */
    left: 10px;
    width: calc(80% - 20px); /* Pas de breedte van de overlay aan */
  }

  .picknick img {
    width: 100%; /* Maak de afbeelding volledige breedte */
    margin-bottom: 10px; /* Verklein de ruimte onder de afbeelding */
    object-fit: cover;
  }

  .picknick h2 {
    max-width: 100%; /* Maak de maximale breedte van de tekst 100% */

    text-align: left;
  }
  .picknick {
    margin-top: 50px;
    margin-left: 10px;
    box-shadow: 0px 4px 12px rgb(56, 47, 47);
    margin-right: 10px;
    border-radius: 10px;
  }

  .picknick p {
    max-width: 100%; /* Maak de maximale breedte van de tekst 100% */
    margin-left: 10; /* Verwijder de linkermarge */
    text-align: left;
  }

  .picknick {
    flex-direction: column;
  }

  .picknick img {
    margin-bottom: -20px;
    margin-top: 20px; /* Voeg wat ruimte toe boven de afbeelding */
    max-height: 300px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
  }

  .carousel{
    width: 90%;
     height: 500px; 

  }

  .carousel-item img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }
}
