.brouwerij-section {
  position: relative;
  text-align: left;
}

.image-container {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  max-height: 500px; /* Maximale hoogte van de afbeelding container */
  overflow: hidden; /* Verberg eventuele overloop van de afbeelding */
}

.image-container img {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  height: auto; /* Behoudt de aspectverhouding van de afbeelding */
  filter: brightness(50%); /* Maak de afbeelding donkerder */
  z-index: -1; /* Plaats de afbeelding achter de tekst */
}

.text-overlay {
  z-index: 1; /* Plaats de tekst bovenop de afbeelding */
  padding: 10px;
  text-align: left;
  color: red;
  position: absolute;
  bottom: 0;
  left: 30%;
  margin-bottom: 20px;
  width: 50%;
}

.text-overlay h2 {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 52pt;
  text-shadow: 0 0 10px #000000;
  text-align: center;
  margin-bottom: 10px;
  color: #961515;
}

.text-overlay p {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 14pt;
  /* color: white; */
}

.text-overlay a {
  font-family: "Helvetica Neue", Raleway, sans-serif;
  font-size: 14pt;
  color: #bdffbd;
}

/* Footer opmaak */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.story {
  width: 70%;
  padding-left: 350px;
}

.story p {
  text-align: center;
  color: red;
  font-family: "Roboto", sans-serif;
}

.story h2 {
  text-align: center;
  color: red;
}

.kleine-afbeelding {
  width: 200px; /* Pas de breedte aan naar wens */
  height: auto; /* Behoudt de aspectverhouding */
  margin-left: 50%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poor Story", cursive;
  background: #bdffbd;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px; /* Voeg wat ruimte toe aan de zijkanten */
  margin-left: 70px;
}

.item:nth-child(odd) {
  order: -1; /* Oneven items komen eerst (links) */
}

@media (max-width: 768px) {
  .item {
    width: 100%; /* Op kleinere schermen, neem de volledige breedte in */
  }
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.polaroid > img {
  max-width: 100%;
  height: auto;
}

.caption {
  font-size: 2rem;
  text-align: center;
  line-height: 2em;
}
.item {
  position: relative;
  width: 30%;

  display: inline-block;
  position: relative;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

.wildLogo {
  /* max-width: 25%; */
  /* width: 300px; */
  filter: drop-shadow(0 5px #000);
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.text-overlay ul {
  margin: 20px;
}

.text-overlay li {
  list-style: none;
}

.introText li:before {
  content: "✓";
  color: #2daa2d;
}

#fanpageBG {
  position: fixed;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hallOfFameContainer {
  display: flex;
  justify-content: center;
  /* height: 100%; */
  margin-top: 10%;
  /* height: 1000px; */
  align-items: center;
}
.hallOfFame {
  /* background-color: rgb(83, 30, 30); */
  background-image: linear-gradient(#fdfdf5, #fbf9e0, #fbf9d3);
  z-index: 3;
  width: 80%;
  /* height: 1000px; */
  /* height: 500px; */
  display: flex;
  border-radius: 10px;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

.hallOfFame img {
  width: 400px;

  /* height: 200px; */
  /* border-radius: 50%;
  margin: 0 auto; */
}

h2 {
  color: white;
  text-align: center;
}

#banner {
  transform: translateY(-130px);
}

#hallLogo {
  width: 300px;
  transform: translateY(-120px) !important;
}

.poloroids {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -100px;
  /* width: 800px; */
  /* width: 80%; */
}

.poloroid-flipper {
  margin: 20px;
  /* background-color: rgb(252, 250, 250); */
  /* padding: 15px 15px 20px 15px; */
  display: flex;
  flex-direction: column-reverse;
  color: black !important;
  font-size: 15px;
  align-items: center;
  transition: all 0.3s;
}

h2 {
  margin-top: 20px !important;
  color: black;
  font-size: 20px;
}

.poloroid-flipper img {
  width: 250px;
}

.poloroid-flipper {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.poloroid-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.poloroid-flipper:hover .poloroid-inner {
  transform: rotateY(180deg);
}

.poloroid-front,
.poloroid-back {
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  background-color: rgb(252, 250, 250) !important;
  position: absolute;
  /* width: 300px; */
  padding: 15px 15px 20px 15px;
  height: 410px;
  /* height: 300px; */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: left;
}

.poloroid-front {
  background-color: #bbb;
  color: black;
}

.poloroid-back {
  background-color: rgb(252, 250, 250);
  color: black;
  transform: rotateY(180deg);
}

.poloroid-back p {
  padding: 10px;
  font-size: 16px;
}

.introText {
  margin-top: -100px;
  margin-bottom: 100px;
  border-bottom: #961515 2px solid;
  width: 90%;
}

.mobileText {
  /* padding: 10px; */
  display: none;
  width: 90%;
  border-bottom: #961515 2px solid;
  padding: 15px;
}


@media (max-width:768px) {
  .mobileText {
    display: block;
  }

  .hallOfFameContainer{
    margin-top: 20%;
  }

  .wildLogo {
    width: 150px !important;
  }

  #hallLogo{
transform: translateY(-50px) !important;
filter: drop-shadow(0 1px #000);
}

  #banner{
    transform: translateY(-50px);
  }

  .introText {
    margin-top: -50px;
  }
}