footer a img{
  margin-bottom: 0;
}

footer h4{
  font-family: "Helvetica Neue", Raleway, sans-serif !important;
  font-size: 16px;
}

footer {
  color: RGBA(255, 255, 255, 0.5);
  background-color: #282b2e;
  width: 100%;
  height: 300px;
  display: flex !important;
  justify-content: center;
  margin-top: 100px;
}

footer p, footer a {
  font-family: "Helvetica Neue", Raleway, sans-serif !important;
}

footer * {
  box-sizing: unset !important;
}


.footerWrapper {
  /* display: flex; */
  /* justify-content: center; */
  width: 90%;
  /* margin-left: 50px; */
}

footer .socialeMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* margin-top: 20px; */
  /* gap: 50px; */
  flex-wrap: wrap;
  width: 200px;
  /* flex-direction: column; */
}

footer .topFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px; */
  /* gap: 50px; */
  flex-wrap: wrap;
  width: 100%;
  /* flex-direction: column; */
}

footer .socialeMedia img {
  width: 30px;
  height: 30px;
  /* background-color: #3e4043; */
  padding: 8px;
  /* margin: 20px; */
  /* border-radius: 50px; */
}

footer img {
  width: 300px;
  height: auto;
  /* margin-top: 25px; */
}

footer .bottomFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
  /* gap: 50px; */
  flex-wrap: wrap;
  width: 100%;
  /* flex-direction: column; */
}

.bottomFooter {
  padding-top: 10px;
  border-top: #3e4043 solid 2px;
}

footer .socialeMedia a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 15px;
    border-radius: 100%;
    background-color: #3e4043;
}

footer a{
    transition: all 0.3s;
}

footer .socialeMedia  a:hover{
    background-color: #DDAE71;
}

footer .bottomFooter a{
transform: all 0.3s;
}

footer .bottomFooter a:hover {
color: #DDAE71;
}


footer .bottomFooter a{
    color: RGBA(255, 255, 255, 0.5);
    text-decoration: none;
}

.rightBottom{
    display: flex;
    justify-content: center;
    width: 200px;
gap: 25px;
}
.socialeMediaLinksFooter{
    display: flex;
    justify-content: center;
    gap: 25px;
}

@media (max-width: 768px){
 .topFooter  a img{
    width: 150px;
  }

.topFooter{
  flex-direction: column;
margin-bottom: 10px;

}

.footerWrapper{
  flex-direction: row !important;
/* justify-content: flex-end; */
align-content: flex-end
}

.bottomFooter{
  flex-direction: column;
}

}

/* .footerWrapper{
  display: flex;
  flex-direction: column !important;
  flex-wrap: wrap;
  max-width: 100% !important;
  justify-content: center;
  align-items: center;
}

.topFooter{
  flex-direction: column;
} */

.footerWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

