h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;

  margin: 0;
}
.image-container {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  max-height: 550px; /* Maximale hoogte van de afbeelding container */
  overflow: hidden; /* Verberg eventuele overloop van de afbeelding */
}

.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58%;
}

.image-container img {
  width: 100%; /* Afbeelding neemt volledige breedte in beslag */
  height: auto; /* Behoudt de aspectverhouding van de afbeelding */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ); /* Donkere tint met 50% opaciteit */
}
.text-overlay {
  padding: 10px;
  text-align: left;
  color: white;
  position: absolute;
  top: 300px; /* Plaats de tekst-overlay meer naar boven */
  left: 20px;
  width: 70%;
}

.text-overlay h2 {
  font-family: "helvetica neue", sans-serif;
  font-size: 52pt;
}

.info {
  padding: 30px; /* Ruimte binnen de border */
  display: flex; /* Flex container om tekst en afbeelding naast elkaar te plaatsen */
  /* margin-top: 80px; */
  width: 70%;
  /* margin-left: 30px; */
  box-shadow: 0px 4px 12px rgba(56, 47, 47, 0.175);
  /* margin-right: 150px; */
  gap: 30px;
  border-radius: 10px;
}

.info-details {
  gap: 30px;
}

#openingh3 {
  display: flex;
  justify-content: center;
  color: #9c121f;
}

.info-details h3:not(.kantoor h3, .magazijn h3) {
  color: #9c121f;
  margin: 10px 0px 10px 0px;
}

.info-details h3 {
  font-family: "helvetica neue", sans-serif;
  font-size: 18pt;
  font-weight: bold;

  /* margin: 10px; */
  /* gap: 30px; */
  /* width: 90%; */

  /* margin-left: 40px; */
}
.info-details p {
  font-family: "roboto", sans-serif;
  font-size: 12pt; /* Lettergrootte */
  width: 100%;
  text-align: left;
  /* margin-left: 40px; */
}

.adres {
  margin-top: 70px;
}

.column {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  margin-left: 120px;
  margin-top: 80px;
  padding: 0 12px;
}
.info {
  text-align: left;
  margin-top: 20px;
  /* margin-left: 10%; */
}
.titleW h1 {
  color: #9c121f;
  padding: 18px;
  text-align: center;
  font-family: "helvetica neue", sans-serif;
  font-size: 30pt;
  margin-top: 40px;
}

.card img {
  width: 100% !important;
  max-height: 50%;
}

/* Mediaquery voor mobiele apparaten */
@media only screen and (max-width: 768px) {
  .text-overlay {
    padding: 10px;
    text-align: left;
    color: white;
    position: absolute;
    top: 80px; /* Plaats de tekst-overlay meer naar boven */
    left: 20px;
    width: 70%;
  }

  table td {
    font-size: small;
  }

  .info {
    padding: 30px; /* Ruimte binnen de border */
    display: block; /* Flex container om tekst en afbeelding naast elkaar te plaatsen */
    /* margin-left: 30px; */
    /* margin-right: 150px; */
    border-radius: 10px;
  }

  .text-overlay h2 {
    font-family: "Georgia", serif;
    font-size: 45pt;
  }

  .info {
    padding: 20px; /* Verminder de padding voor mobiele apparaten */
  }

  .info-details {
    flex: 50%; /* Laat de sectie de volledige breedte innemen */
    margin-top: 20px; /* Voeg wat ruimte toe aan de bovenkant */
  }
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 768px) {
  .text-overlay {
    padding: 10px;
    text-align: left;
    color: white;
    position: absolute;
    top: 80px; /* Plaats de tekst-overlay meer naar boven */
    left: 20px;
    width: 70%;
  }

  .text-overlay h2 {
    font-family: "Georgia", serif;
    font-size: 45pt;
  }
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

.title {
  color: rgb(114, 100, 100);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(255, 60, 0, 0.724);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #fbb117;
}

.row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flexInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

iframe {
  width: 100%;
  height: 100%;
}

.map-container {
  width: 50%;
}

/* Stijl voor de kaartcontainer */

/* Stijl voor de info-details */
.info-details {
  width: 50%; /* Breedte van de info-details */
}

/* 1200px => vermijd slecte weergaven van de email tabel op tablets/kleinere schermen  */
@media screen and (max-width: 1200px) {
  .info-details {
    width: 100%; /* Breedte van de info-details */
  }

  .info-details table {
    width: 100%; /* Breedte van de tabel */
  }

  .map-container {
    width: 100%;
  }

  .info {
    width: 100%;
  }
}

.flexCards {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: center;
}

.column {
  margin: 0;
  margin: 20px 0 20px 0;
}

.container h2 {
  /* font-family: "helvetica neue", sans-serif; */
  font-size: 15pt;
}

.container {
  /* height: 100px; */
  padding: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
  height: 30%;
  /* margin-top: 30px; */
  /* background-color: gray; */
}

table td:nth-child(even) {
  background-color: #f2f2f2;
  border: white 1px solid;
  transition: all 0.3s;
}

table td:nth-child(odd) {
  /* background-color: #827878; */
  font-weight: 600;
  /* width: 90%; */
}

td {
  /* border: #9c121f 1px solid; */
  padding: 8px;
  text-align: left;
  font-size: 12pt;
}

.openingsurenFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
}

.kantoor {
  border-right: #9c121f 2px solid;
  width: 50%;
}

.openingsurenFlex h3,
.openingsurenFlex p {
  text-align: center !important;
  /* color: red; */
  /* font-size: 14px; */
}
table td:nth-child(even):hover {
  /* color: #9c121f; */
  background-color: #9c121f;
}

table td:nth-child(even):hover a {
  color: white;
}

table a {
  display: block;
  color: rgb(52, 59, 82);
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 8px;
  /* width: 100%; */
}

td{
  padding: 0;
}

.magazijn {
  width: 40%;
}

/* .adres {
  display: flex !important;
  justify-content: center !important;
  width: 100%;
} */

/* zelfde padding als de tabel erboven */
.adres p {
  padding: 8px;
}

.column {
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .column {
    width: 90%;
  }
}
