.container {
  all: unset;
}

table *,
.container {
  box-sizing: unset;
  margin: 0;
}

th {
  color: #8b0000;
  text-shadow: none;
}

table {
  /* width: 80%; Verklein de breedte van de tabel naar 80% van de container */
  width: 100%; /* Maak de tabel 100% breed (zorg dat de bordeaux lijn over de volledige breedte spant) */
  color: black;
 
}

table:nth-child(1),
table:nth-child(2) {
  border-right: white solid 6px;
}

td,
th {
  padding: 6px; /* Verminder de padding om de tekst dichter bij de rand van de cel te plaatsen */
}

th {
  font-family: "Roboto Slab", serif;
}

.text-overlay {
  width: 30%; /* Verklein de breedte van de tekst-overlay naar 30% */
  left: 20px; /* Plaats de tekst-overlay links met een marge van 20px */
}

.text-overlay h2 {
  font-size: 32pt; /* Verklein de grootte van de kop in de tekst-overlay */
}

.text-overlay p {
  font-size: 12pt; /* Verklein de grootte van de alinea in de tekst-overlay */
}

.container {
  display: flex; /* Maak de container een flex container */
  justify-content: center; /* Verdeel de ruimte tussen de tabellen */
  margin-bottom: 80px;
  margin-top: 80px;
  height: 300px;
}

td {
  padding: 8px;
  text-align: center;
  font-family: "Roboto Slab";
}

th {
  border-bottom: 3px solid #af0000; /* Voeg een border toe aan de cellen */
  padding: 6px;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  /* width: 100%; */
}

td:last-child,
th:last-child {
  border-right: none; /* Verwijder de border aan de rechterkant van de laatste cel */
  border-top: none;
}

#extraInfo {
  /* position: absolute; */
  /* margin-top: 200px;
  margin-left: 250px; */
  background-color: #8b0000;
  padding: 20px;
  font-family: "Roboto Slab";
  color: white;
  width: 63%;
  line-height: 2;
  margin-bottom: 200px;
  font-size: 19px;
  
  /* margin-left: 300px; */
  margin-left: 1%;

  filter: drop-shadow(0px 0px 5px #000000);
}

tr:nth-child(even) {
  background-color: #a6a6a6;
}

tr:nth-child(odd):not(:first-child) {
  background-color: rgba(194, 194, 194, 0.678);
}

table#table3 {
  width: 100%;
}
td {
  height: 40px;
  width: 20%;
  font-weight: bolder;
}

#openingsuren {
  margin-top: 20px;
  /* margin-bottom: 500px; */

  /* background-color: grey; */
}

.openingsurenTitle {
  margin-top: 30px;
  height: fit-content;
  color: #ad9a64;
  display: flex;
  justify-content: center;
  padding: 20px;
  border-top: #ad9a64 solid 2px;
  /* border-bottom: #ad9a64 solid 2px; */
  text-align: center;
  font-family: "Roboto Slab";
  /* background-color: red; */
}

/* table{
    border-top: #8b0000 solid 5px;
  width: 100%;
  } */

#table3 td {
  font-size: smaller;
}



#klok {
  background-color: white;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -10px;
}
#table1 > tbody > tr:nth-child(2),
#table2 > tbody > tr:nth-child(2),
#table3 > tbody > tr:nth-child(2) {
  background-image: linear-gradient(to bottom, #00000060, #a6a6a6, #a6a6a6);
}

.tableExtraInfoContainer {
  display: flex;
  height: fit-content;
  gap: 73px;
  
  flex-direction: column;
}

.openingHoursContainer {
  margin-top: 100px;
}

@media (max-width: 1768px) {
  #openingsuren {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    gap: 20px;

  }
  
  table{
  width: 80% !important;
  border-right: none !important;
  }

  #extraInfo {
    margin: 0;
    margin: 55px;
  }


  /* hide empty table data for mobile */
  table .empty {
    display: none;
  }

  .tableExtraInfoContainer {
    display: flex;
    height: fit-content;
    gap: 5px;
    margin-right: 50px;
    flex-direction: column;
    align-items: center;
  }

}
