:root {
  --themeColor: #030303;
}

body {
  background-color: black;
}

.spiritSelection {
  display: flex;
  align-items: center;
}

.arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  /* background-color: red; */
}
.arrowRight {
  margin-left: 50px;
}
.arrowLeft:hover {
  transform: translateX(-15px);
}

.arrowRight:hover {
  transform: translateX(15px);
}

#spiritDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 5px black;
  /* padding: 10%; */
  /* margin: 10%; */
}

.spiritInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.imgBorderOverlay {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.imgBorder {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 90%;
  /* background-color: white; */
  /* border: #6d9170 solid 5px; */
  filter: drop-shadow(0px 0px 15px #20ff32);
  display: flex;
  justify-content: center;
}

.smallBorder {
  transition: all 0.3s ease-in-out;

  border-bottom: var(--themeColor) 3px solid;
  /* margin-bottom: 10px; */
  padding: 10px;
  width: 60%;
}

.spiritBackground {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: fixed;
  top: 0;
  object-fit: cover;
}

.awards {
  position: absolute;
  left: 0;
  display: flex;
  width: 100px;
  height: 500px;
  margin-top: 180px;
  /* width: fit-content; */
  /* transform: translateY(50%); */
  max-height: 100%;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  /* mix-blend-mode: multiply; */

  /* background-color: red; */
}

.awards img {
  width: 8%;
  min-width: 55px;
  max-height: 1200px;
  /* height: fit-content !important; */
  margin: 10px;
  margin-left: 20px;
  /* border-radius: 10px !important; */
  /* opacity: 80%; */
  /* border: var(--themeColor) 5px solid; */
  bottom: 0;
  right: 0;
}

button:focus {
  outline: none;
}

#spiritName {
  /* color: rgb(34, 34, 34); */
  color: white;
  text-align: center;
  /* background-color: var(--themeColor); */
  background-image: linear-gradient(
    to right,
    transparent,
    var(--themeColor),
    transparent
  );
  width: 100% !important;
  filter: drop-shadow(5px 5px 10px var(--themeColor));

  /* Beter met of zonder border?? */

  /* border-top: #000000 2px solid;
  border-bottom: #000000 2px solid; */
}

.spiritTitle {
  width: 100%;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* vertical-align: middle; */
}

#spiritTagLine {
  font-size: 1em;
  text-align: center;
  margin-top: 10px;
  text-shadow: 0px 0px 5px black;

  /* text-align: center; */
}

button {
  all: unset;
  width: fit-content;
  height: fit-content;
  margin-top: 50%;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.buy-button2 {
  /* color: white !important; */
  text-shadow: 0px 0px 5px black;

  margin-left: 10px;
  /* background: green; */
  width: fit-content;
  height: fit-content;
  border: 2px solid var(--themeColor);
  color: white;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition: 0.4s ease;
  z-index: 1;
  &:before,
  &:after {
    background: var(--themeColor);
    transition: 0.3s ease;
    content: "";
    position: absolute;
    z-index: -1;
  }
}

.buy-button2 {
  &:before {
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &:hover {
    &:before {
      top: 0;
    }
  }
}

.position-relative {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  justify-content: space-around;
  /* width: 100% !important; */
  /* margin-left: 100px; */
  height: 100vh !important;
  /* gap: 10px; */
}

.arrows {
  max-width: 30%;
  /* margin-right: 20%; */
  /* margin-left: -500px;
gap: 100%; */
  gap: 100%;
}

.overlay {
  position: static;
  display: flex;
  z-index: 5;
  width: 600px;
  height: 100%;
  align-items: center;

  /* height: 300px; */

  /* max-width: 20%; */
  /* vertical-align: middle; */
}

.overlayWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  /* vertical-align: middle; */
}
button img:not(.hamburgerNavContent img) {
  height: 60px !important;
}

form {
  position: absolute;
  z-index: 5;
  bottom: 0;
  margin-bottom: 50px;
  z-index: 7;
}

.radios {
  display: flex;
  gap: 20px;
}
/* 
#goud {
  color: black;
  accent-color: gold;
}

#betty-ford {
  accent-color: #6D9170;
}

#kannunik {
  accent-color: #F97700;
}
#clarisse {
  accent-color: #460610;
}
#whiskey {
  accent-color: #521B6D;
}
#rum {
  accent-color: #FBA953;
}
#kriek {
  accent-color: #FF232D;
}
#rouge {
  accent-color: #cc1223;
} */

input[type="radio"] {
  transition: all 0.3s ease-in-out;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999; /* Border color for unchecked */
  outline: none;
  cursor: pointer;
}

/* Checked radio button style */
input[type="radio"]:checked {
  border-color: var(--themeColor); /* Border color for checked */
  background-color: var(--themeColor);
  filter: drop-shadow(0px 0px 5px var(--themeColor));
  transition: all 0.3s ease-in-out;
}

input[type="radio"]:nth-child(1):hover {
  border-color: #d8d9dd;
  filter: drop-shadow(0px 0px 5px #d8d9dd);
}

input[type="radio"]:nth-child(2):hover {
  border-color: #d3b378;
  filter: drop-shadow(0px 0px 5px #d3b378);
}

input[type="radio"]:nth-child(3):hover {
  border-color: #A6129A;
  filter: drop-shadow(0px 0px 5px #A6129A);
}

input[type="radio"]:nth-child(4):hover {
  border-color: #d03f00;
  filter: drop-shadow(0px 0px 5px #d03f00);
}
input[type="radio"]:nth-child(5):hover {
  border-color: #680009;
  filter: drop-shadow(0px 0px 5px #680009);
}
input[type="radio"]:nth-child(6):hover {
  border-color: #ce7701;
  filter: drop-shadow(0px 0px 5px #ce7701);
}
input[type="radio"]:nth-child(7):hover {
  border-color: #fe026e;
  filter: drop-shadow(0px 0px 5px #fe026e);
}
input[type="radio"]:nth-child(8):hover {
  border-color: #00335e;
  filter: drop-shadow(0px 0px 5px #00335e);
}

input[type="radio"]:nth-child(8):hover {
  border-color: #e6a941;
  filter: drop-shadow(0px 0px 5px #e6a941);
}

/* input[type="radio"]:nth-child(8):checked {
  border-color: red;
  background-color: red;
  filter: drop-shadow(0px 0px 5px red);
} */

.spiritLogo img {
  position: absolute;
  width: 8%;
  height: fit-content !important;
  margin: 10px;
  border-radius: 10px !important;
  /* opacity: 80%; */
  /* border: var(--themeColor) 5px solid; */
  bottom: 0;
  left: 0;
  opacity: 60%;
}

@media screen and (max-width: 1000px) {
  .position-relative {
    flex-direction: column;
    /* max-width: 100vw; */
  }

  .spiritBackground {
    object-position: left;
    height: 40vh;
    width: 100vw;
  }

  .arrows {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0;
    gap: unset;
    max-width: 100vw;
  }

  .beerInfo {
    flex-direction: column-reverse;
  }

  body > div.position-relative > div.overlay > div > div.beerInfo > div {
    display: flex;
    justify-content: center;
    width: 100vw;
    text-align: center;
    border: none;
    align-items: center;
  }

  #spiritInfo {
    border-top: var(--themeColor) 2px solid;
    width: 70%;
    padding-top: 10px;
    text-align: center;
  }

  .spiritTitle {
    width: 100vw;
  }

  body > header > div > a > img {
    width: 50px !important;
  }

  .awards {
    /* display: none; */
    display: flex;
    flex-direction: column;
    right: 0 !important;
    top: 0;
    flex-direction: row !important;
    left: unset !important;
    margin-top: 0;
    justify-content: flex-end !important;
    width: 100px !important;
    margin-top: 20px; /*prevent awards from overlapping with hamburger menu */
  }

  .awards img {
    /* width: 100px; */
    max-height: 70px;
    /* width: fit-content; */
    /* max-width: 100px; */
    width: 50px;
    /* object-fit: cover; */
  }

  .awards li {
    width: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  #spiritDescription {
    width: 100vw;
    padding: 10px;
  }

  .overlay {
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  /* overwrite js styling for desktop */
  #spiritInfo,
  #spiritDescription,
  #spiritTagLine {
    color: white !important;
  }

  form {
    position: static !important;
    margin: 0;
    margin-bottom: 30px;
    width: 100vw !important;
    display: flex;
    justify-content: center;
  }
  .arrows button {
    margin-top: 0;
    /* top: 0; */
  }

  .arrows {
    top: 0;
    margin-top: 40%;
    position: absolute;
    /* width: 100vw; */
    /* height: 100px; */
    display: flex;
    justify-content: space-between;
  }

  .overlay {
    display: unset;
  }

  /* @media screen and (max-width: 500px) {
    .arrows button {
      margin-top: 50% !important;
    }
  } */

  .spiritBackground {
    position: static;
  }

  .radios {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
  }
}

.arrows {
  z-index: 6;
}

.arrows button img {
  filter: drop-shadow(0px 0px 1px black);
}
