html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('WEBSITE/wetransfer_UNIEKE OUDE FOTOS Wilderen_2022-03-15_1008/wilderen oud034.jpg');
    background-size:cover;
    background-position: center;
}

.background-container-brouwerij {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Zorgt ervoor dat de afbeeldingen vanaf de bovenkant beginnen */
    height: 100%;
    
}

.background-container {
    position: relative;
    width: 50%; /* Elke afbeelding neemt de helft van de breedte in beslag */
    height: 80%;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 2);
}

.background-container img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: auto; 
    object-fit: cover;
    transition: filter 0.5s ease;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 2);
    background-color: rgba(0, 0, 0, 0.3); /* Donkere tint met 50% opaciteit */ 
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 1;
    
}

.overlay p {
    font-size: 24px;
    font-family: "Roboto Slab";
    text-decoration: none;
}
.overlay a{
    text-decoration: none;
    color: white;
}

.container:hover .background-container img {
    filter: brightness(0.7); /* Donkere tint bij hover */
}

.container:hover .overlay {
    opacity: 1;
}

/* Mediaquery voor tablets */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column; /* Plaats de afbeeldingen onder elkaar */
        align-items: center; /* Centreer de afbeeldingen horizontaal */
        height: auto; /* Pas de hoogte van de container automatisch aan */
    }
    
    .background-container {
        width: 100%; /* Maak de afbeeldingen volledige breedte */
        height: auto; /* Pas de hoogte automatisch aan */
        margin-bottom: 20px; /* Voeg wat ruimte toe tussen de afbeeldingen */
    }
    
    .background-container img {
        height: auto; /* Behoud de aspectverhouding van de afbeeldingen */
        padding: 40px;
        padding-right: 40px;
    }
    
    .overlay p {
        font-size: 18px; /* Verklein de tekstgrootte voor betere leesbaarheid op kleinere schermen */
    }
}

/* Mediaquery voor mobiele apparaten */
@media only screen and (max-width: 480px) {
    .overlay p {
        font-size: 16px; /* Verklein de tekstgrootte nog meer voor mobiele apparaten */
    }
}

